@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-weight: 500;
}

::-webkit-scrollbar {
  background-color: var(--primary-color);

  width: 7px;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color);

  border-radius: 2px;
}
:root {
  --background-color: #ffffff;
  --primary-color: #f6f6f6;

  --brown-color: #d67d3e;
  --light-color: #f9e4d4;

  --secandary-color: #9c0f48;
  --dark-color: #470d21;

  --text-color: #27374d;
  --brown-text: var(--brown-color);
}

.app {
  font-family: var(--font-rubik);
  color: var(--text-color);
}
h1,
span {
  font-family: var(--font-bree_serif);
}
.section {
  @apply p-[5rem] mb-[3rem] max-md:p-[2rem];
}
.nav {
  font-family: var(--font-bree_serif);
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100%;
  z-index: 10000;
}

.active {
  display: block;
  content: "";
  border-bottom: solid 3px var(--brown-color);
  transform: scaleX(1);
}
.navitem::after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--light-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navitem:hover::after {
  transform: scaleX(1);
}
.carousel-item {
}
.mobileNav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 80vw;
  background-color: var(--primary-color);
  right: -100px;
  top: 0;
  height: 100vh;
  box-shadow: 1px 2px 0.5rem #1b181827;
}
.close-img {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.footer {
  width: 100%;
  bottom: 0;
  background-color: var(--primary-color);
}
.text-underline::after {
  display: block;
  content: "";
  background-color: var(--brown-color);
  width: 40px;
  height: 5px;
  cursor: pointer;
  border-radius: 2px;
}
.active-carousel {
  display: block;
  content: "";
  background-color: var(--secandary-color);
  width: 40px;
  height: 5px;
  cursor: pointer;
  border-radius: 2px;
}
.search_input {
  @apply w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-sm font-medium focus:border-[#111d5e] focus:outline-none focus:ring-0;
}
.text-gradient-blue {
  @apply bg-gradient-to-r from-[#9C0F48] via-[#D67D3E] to-[#D67D3E]  bg-clip-text text-transparent;
}
.black_btn {
  @apply rounded-[0.4rem]  bg-[#D67D3E] p-[1rem_3rem] text-white transition-all hover:bg-[#9C0F48]  cursor-pointer text-center text-sm  flex items-center justify-center;
}
.text-gradient-brown {
  @apply bg-gradient-to-r from-[#470D21] via-[#9C0F48] to-[#D67D3E]  bg-clip-text text-transparent;
}
.dark-text {
  @apply text-slate-700;
}
.light-text {
  @apply text-slate-400;
}
.podcast {
  @apply break-inside-avoid rounded-lg text-gray-700 shadow-[inset_10px_-50px_94px_0px_rgb(199,199,199,0.2)] bg-clip-padding p-6 pb-4 backdrop-blur-[3rem] backdrop-filter md:w-[450px] w-[100%] h-fit space-y-[2rem] bg-primary-color;
}
.glassmorphism {
  @apply rounded-xl bg-white/10 shadow-[inset_10px_100px_180px_0_rgb(199,199,199,0.2)] backdrop-blur-[1rem]  p-5;
}
.skeleton_container {
  /* @apply bg-slate-500; */
}
.flex-between {
  @apply flex justify-between items-center;
}

.flex-center {
  @apply flex justify-center items-center;
}
